:root {
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;

  color: #333333;
  background-color: #f3f3f3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #0066cc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  color: #003366;
  font-weight: normal;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

button {
  border-radius: 3px;
  border: 1px solid #abadb3;
  padding: 5px 15px;
  font-size: 0.9em;
  font-family: inherit;
  background: linear-gradient(to bottom, #f0f0f0 0%, #e5e5e5 100%);
  color: #333;
  cursor: pointer;
}
button:hover {
  background: linear-gradient(to bottom, #eaf6fd 0%, #d9f0fc 100%);
  border-color: #3c7fb1;
}
button:active {
  background: linear-gradient(to bottom, #cce4f7 0%, #a0d4f5 100%);
  border-color: #2c628b;
}
button:focus,
button:focus-visible {
  outline: 1px dotted #333;
  outline-offset: -3px;
}

input, textarea, select {
    font-family: "Segoe UI", Tahoma, Arial, sans-serif;
    border: 1px solid #abadb3;
    padding: 4px;
    background-color: #fff;
    color: #333;
}
input:focus, textarea:focus, select:focus {
    border-color: #3c7fb1;
    outline: none;
}
